{%- assign social_title = page.social_title | default: page.title | default: site.title -%}
{%- if page.layout == "post" -%}
  {%- assign default_title = page.title -%}
{%- elsif page.title and page.title != site.title -%}
  {%- assign default_title = page.title | append: " | " | append: site.title -%}
{%- else -%}
  {%- assign default_title = site.title -%}
{%- endif -%}
{%- assign social_title = page.social_title | default: default_title -%}
{%- assign social_description = page.social_description | default: page.subtitle | default: site.description -%}
{%- assign social_description = social_description | strip_html | normalize_whitespace -%}
{%- assign social_image = "" -%}
{%- if page.layout == "post" -%}
  {%- assign social_image = page.first_image -%}
  {%- assign social_description = page.social_description | default: page.subtitle | default: page.excerpt | strip_html | normalize_whitespace -%}
{%- endif -%}
<meta name="description" content="{{ social_description | escape }}">
<meta property="og:title" content="{{ social_title | escape }}">
<meta property="og:description" content="{{ social_description | escape }}">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{%- if social_image and social_image != "" %}
  {%- assign image_prefix = social_image | slice: 0, 4 -%}
  {%- if image_prefix == "http" -%}
    {%- assign social_image_url = social_image -%}
  {%- else -%}
    {%- assign social_image_url = social_image | absolute_url -%}
  {%- endif %}
<meta property="og:image" content="{{ social_image_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ social_image_url }}">
{%- else %}
<meta name="twitter:card" content="summary">
{%- endif %}
<meta name="twitter:title" content="{{ social_title | escape }}">
<meta name="twitter:description" content="{{ social_description | escape }}">
